name: Build the plugin GitExtensions.AzureDevOpsCommitMessage

on:
  push:
    branches:
    - '**'
    tags-ignore:
    - '*'

jobs:
  build:

    runs-on: [windows-latest]

    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    steps:
    - uses: actions/checkout@v4

    - name: Setup .net9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.305

    - name: Build & package with `dotnet`
      run: |
        dotnet restore
        dotnet pack -c Release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}.nupkg
        path: src/${{ github.event.repository.name }}/bin/Release/${{ github.event.repository.name }}.0.0.0.nupkg
