name: Build the plugin

on:
  push:
    branches:
    - '**'
    tags-ignore:
    - '*'

jobs:
  build:

    runs-on: [windows-latest]

    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    steps:
    - uses: actions/checkout@v1

    - name: Setup .net6
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.401

    - name: Build & package with `dotnet`
      run: |
        dotnet restore
        dotnet pack -c Release

    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: ${{ github.event.repository.name }}.nupkg
        path: src/${{ github.event.repository.name }}/bin/Release/${{ github.event.repository.name }}.0.0.0.nupkg
